.footer,
.footer a {
  color: var(--footer-text-color);
  background-color: var(--footer-background-color);
}
.footer__main.sections {
  padding: 90px 24px;
}

.footer-title {
  font-size: 11px;
  letter-spacing: 2.2px;
  font-weight: 700;
  color: var(--footer-title-color);
}

.section__home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section__home-logo img {
  display: block;
  margin: 0 auto;
  width: 110px;
}
.section__home-text {
  margin: var(--footer-block-margin);
  text-align: center;
}
.section__home-text span {
  display: block;
  font-size: 14px;
}
.section__home-link {
  margin: var(--footer-block-margin);
  font-weight: 700;
  font-size: 14px;
}

.section__home-payments {
  margin: var(--footer-block-margin);
}
.section__home-payments img {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.section__info {
  margin: 50px 0 0;
}

.section__location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section__location-addresses {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-style: italic;
}
.section__location-addresses span {
  font-weight: 700;
  font-style: normal;
}
.section__location-address {
  display: flex;
  font-size: 14px;
  margin-bottom: 15px;
}
.section__location-address p{
  margin-left: 10px;
}
.section__location-address svg {
  width: 20px;
}
.section__contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__contacts-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.section__contacts-info a {
  font-size: 14px;
  margin-left: 10px;
  font-style: italic;
}
.section__contacts-phone {
  display: flex;
}
.section__contacts-phone svg {
  width: 20px;
}
.section__contacts-email {
  display: flex;
}
.section__contacts-email svg {
  width: 20px;
}

.section__instagram {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section__instagram-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  justify-items: center;
  gap: 15px;
}

.section__instagram-images img {
  cursor: pointer;
  transition: 0.3s all ease;
}

.section__instagram-images img:hover{
  transform: scale(0.9);
}

.section__instagram-modal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  z-index: 1;
  overflow: hidden;
  display: none;
}
.modal-gallery__content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.modal-gallery__img{
  width: 80%;
  max-width: 500px;
  border-radius: 5px;
}
.modal-gallery__text{
  margin-top: 1rem;
}
.modal-gallery__close {
  position: absolute;
  top: 1em;
  right: 1.5em;
  font-size: 1.5em;
  cursor: pointer;
}
.modal-gallery.appear {
  display: block;
}
.modal-gallery.appear .modal-gallery__img,
.modal-gallery.appear .modal-gallery__text {
  animation: zoom 0.3s linear;
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.footer__nav {
  padding: 90px 24px;
}
.footer__nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer__nav-container:not(:first-child) {
  margin-top: 50px;
}
.footer__nav-title {
  text-align: center;
  font-size: 22px;
  font-weight: 700;
}
.footer__nav-links {
  text-align: center;
}
.footer__nav-links ul {
  list-style: none;
}
.footer__nav-links li {
  margin: 10px 5px;
}

.footer__nav-link {
  font-weight: 700;
  transition: 300ms;
  border-bottom: 1px solid transparent;
}
.footer__nav-link:hover {
  border-color: var(--footer-text-color);
}

.footer__copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 25px;
}
.footer__copyright-text {
  font-size: 14px;
}
.footer__copyright-links {
  margin-top: 30px;
}
.footer__copyright-link svg {
  fill: var(--footer-link-color);
}
.footer__separator{
  height: 1px;
  background-color: var(--footer-text-color);
  margin:24px;
  opacity: 0.2;
}

@media (min-width: 768px) {
  .footer__main.sections{
    display:flex;
    gap:30px
  }
  .section__home {
    align-items: flex-start;
    justify-content: start;
  }
  .section__home-text{
    text-align: left;
  }
  .section__info{
    margin: 0;
    justify-content: start;
  }
  .section__location{
    align-items: flex-start;
  }
  .section__contacts{
    margin-top: 30px;
    align-items: flex-start;
  }
  .section__instagram{
    margin: 0;
    align-items: flex-start;
    justify-content: start;
  }
  .footer__nav{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer__nav-container {
    align-items: flex-start;
    flex: 0 1 20%;
    white-space: nowrap;
  }
  .footer__nav-container:not(:first-child) {
    margin-top: 0;
  }
  .footer__nav-title {
    text-align: left;
  }
  .footer__nav-links {
    text-align: left;
  }
  .footer__copyright{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width:985px) {
  .section__instagram-images {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .footer__nav{
    flex-wrap: nowrap;
  }
}