@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Open+Sans&display=swap');
/* "Archivo", "Open Sans" */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --title-color: rgb(47, 49, 51);
    --subtitle-color: rgb(112, 112, 112);
    --text-color: rgb(141, 141, 141);
    --link-color: rgb(140, 158, 138);
    --bg-new-product-message: #f7f4f0;
    --footer-background-color: #2f3133;
    --footer-text-color: #ffffffd1;
    --footer-block-margin: 30px 0 0 0;
    --footer-title-color: rgb(255, 255, 255);
    --footer-link-color: #8c9e8a;
    --header-icongb-color: #8c9e8a;
    --header-title-color: #2f3133;
    --header-nav-link: #8d8d8d;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    color: #333;
}

img {
    display: block;
    width: 100%;
}

h1,
h2,
h3 {
    font-family: sans-serif;
    font-weight: 700;
}
a{
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}