.offer {
    width: 272px;
    margin: auto;
    padding-top: 80px;
    padding-right: 20px;
}

.offer .offer__content-section-number {
    color: var(--text-color);
    font-size: 11px;
    font-family: "Open Sans";
    margin-top: 20;
    font-weight: 700;
    letter-spacing: 2.2px;
}

.offer .offer__content-title {
    color: var(--title-color);
    font-size: 34px;
    font-family: "Archivo", sans-serif;
    line-height: 38.76px;
    padding-top: 20px;
}

.offer {
    justify-content: flex-start;
    flex-direction: column;
}

.offer .offer__content-list {
    display: block;
    box-sizing: border-box;
    padding-top: 20px;
    width: 258.98px;
    color: var(--subtitle-color);
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    font-stretch: 100%;
    line-height: 27px;
    letter-spacing: normal;
}

.offer .offer__content-description {
    display: block;
    box-sizing: border-box;
    padding-top: 20px;
    width: 268.93px;
    color: var(--text-color);
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-stretch: 100%;
    line-height: 25.6px;
    letter-spacing: normal;
}

.menu__icon {
    width: 50px;
}

.product-slider__icon {
    width: 242px;
}