.new-product {
    max-width: 1200px;
    margin: auto;
    margin-top: 400px;
    padding: 0 15px;

}
.new-product__titel {
    color: var(--title-color);
    font-size: 41px;
    text-align: center;
}

.new-product__subscribe {
    color: var(--subtitle-color);
    font-size: 18px;
    text-align: center;
}
.new-product__tab {
    text-align: left;
}

.tab__product {
    color: var(--link-color);
    font-weight: bold;
}
.catalog__items {
    display: grid;
    gap: 10px;
    margin: 0 15px;
}
.catalog_item {
    padding: 0 15px;
}
@media (min-width: 768px) {
    .catalog__items {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .new-product__tab {
        text-align: center;
    }
}
@media (min-width: 992px) {
    .catalog__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
.new-product__message {
    background-color: var(--bg-new-product-message);
    display: flex;
    align-items: center;
}
.new-product__message-box {
    flex: 1;
    word-wrap: break-word;
    text-align: center;
    padding: 39px;
}
.new-product__message-box-titel{
    font-size: 30px;
    
}
.new-product__message-box-subtitle {
    font-size: 18px;
}
.new-product_img-box {
    display: none;
    flex: 1;
}

@media (min-width: 768px) {
    .new-product_img-box {
        display: block;
    }    
}
