.questions {
    font-family: "Open Sans", sans-serif;
    background-image: url(../img/background/questions-background.svg);
    background-size: cover;
    min-height: 740px;
    display: flex;
    flex-direction: column;
    padding: 90px 24px;
}

.questions * {
    margin-bottom: 0;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 0;
}

.questions__description-title {
    font-size: 34px;
    font-weight: 700;
}

.questions__description-title, 
.questions__info-title {
    font-family: "Archivo", sans-serif;
    color: var(--title-color);
}

.questions__description-subtitle {
    color: var(--subtitle-color);
    font-size: 18px;
    font-weight: 600;
    margin-top: 25px;
}
 
.questions__description-additional,  
.questions__info {
    margin-top: 60px;
}

.questions__description-text, 
.question__answer, 
.questions__info-text {
    color: var(--text-color);
    font-size: 16px;
}

.questions__description-contacts-link {
    color: var(--link-color);
    margin-top: 20px;
    font-size: 14px;
    font-weight: 700;
}

.questions__description-contacts-link a {
    color: var(--link-color);
    text-decoration: none;
}

.questions__description-contacts-link span {
    text-decoration: underline;
}

.questions__description-contacts-link:hover {
    text-decoration: underline;
}

.questions__faq {
    margin-top: 45px;
}

.questions__faq-list {
    list-style: none;
}

.questions__faq hr {
    color: var(--questions-line-color);
    margin: 0;
}

.faq-list__question {
    padding: 20px 0;
}

.question__preview {
    color: var(--title-color);
    display: grid;
    grid-template-columns: 1fr 15px 15px; /*will be 2 column since one would be hiden */
    line-height: 27px; /* to be removed */
}

.questions .question__preview-title {
    font-size: 19px;
}

.question__preview-showmore {
    display: block;
    width: 15px;
    height: 2px;
    position: relative;
    background: var(--subtitle-color);
    cursor: pointer;
    transition: background .2s ease-out;
    color: var(--subtitle-color);
    align-self: center;
}

.question__preview-showmore:hover {
    background: var(--title-color);
}

.question__preview-showmore:before {
    content: '';
    width: 15px;
    height: 2px;
    display: block;
    position: absolute;
    background: var(--subtitle-color);
    transition: transform .3s ease;
    transform: rotate(-90deg) scaleX(1);
}

.question__preview-showmore.showing::before {
    transform: rotate(-90deg) scaleX(0);
    transition: transform .3s ease;
}

.question__preview-showmore:hover::before {
    background: var(--title-color);
}

.questions .question__answer {
    position: relative;
    display: block;
    max-height: 0;
    transform: scaleY(0);
    transition: all .3s ease;
}

.questions .question__answer.showing {
    margin-top: 25px;
    max-height: 1000px;
    transform: scaleY(1);
    transition: all .3s ease;
}

.questions__info-item {
    padding: 15px 0;
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 15px;
}

.questions__info-container {
    background-color: var(--questions-icon-background);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.questions__info-image {
    width: 26px;
    height: 26px;
}

.questions__info-title {
    font-size: 22px;
}

@media (min-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .questions__description-main,
    .questions__description-additional,
    .questions__faq, 
    .questions__info {
        padding: 0 30px;
    }

    .questions__description-additional {
        margin-top: 0;
    }

    .questions__description-title {
        font-size: 41px;
        margin-top: 20px
    }

    .questions__info {
        margin-top: 45px;
    }

    .questions__info-item {
        grid-template-columns: 70px 1fr;
        padding: 7.5px 0;
    }

    .questions__info-container {
        width: 70px;
        height: 70px;
    }

    .questions__info-image {
        width: 40px;
        height: 40px;
    }
}