.block-passion {
    padding-top: 115px;
    padding-bottom: 105px;
    padding-right: 15px;
    padding-left: 15px;
    vertical-align: baseline;
}

.passion-menu {
    margin-right: -15px;
    margin-left: -15px;
    padding-right: 15px;
    padding-left: 15px;
}

.passion-menu__number {
    color: rgb(47, 49, 51);
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    letter-spacing: 2.2px;
    line-height: 18.37px;
    box-sizing: border-box;
    text-align: center;
    font-weight: 700;
}

.passion-menu__logo {
    font-size: 32px;
    text-align: center;
    font-family: "Archivo", sans-serif;
    margin-top: 20px;
}

.passion-menu__title {
    margin-top: 25px;
    color: rgb(112, 112, 112);
    font-size: 18px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}

.passion-menu__goods-menu {
    flex-direction: row;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    height: auto;
    align-items: center;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.functionality__img,
.mirror__img,
.person__img {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1 /1;
}

.functionality__img {
    padding-right: 15px;
}

.mirror__img {
    padding-left: 15px;
    padding-right: 15px;
}

.person__img {
    padding-left: 15px;
}


@media (max-width: 767px) {
    .passion-menu__goods-menu {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        width: 100%;
        height: auto;
        align-items: center;
    }

    .functionality__img {
        padding-left: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        box-sizing: border-box;
        object-fit: cover;
        aspect-ratio: 1 / 1;
    }

    .mirror__img {
        padding-top: 15px;
        padding-bottom: 15px;
        box-sizing: border-box;
        object-fit: cover;
        aspect-ratio: 1 / 1;
    }

    .person__img {
        padding-right: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        box-sizing: border-box;
        object-fit: cover;
        aspect-ratio: 1 / 1;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .passion-menu__goods-menu {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        width: auto;
        height: 100%;
        align-items: center;
    }

    .functionality__img {
        padding-left: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 15px;
        box-sizing: border-box;
        object-fit: cover;
        aspect-ratio: 1 / 1;
    }

    .mirror__img {
        padding-left: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 15px;
        box-sizing: border-box;
        object-fit: cover;
        aspect-ratio: 1 / 1;
    }

    .person__img {
        padding-left: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 15px;
        box-sizing: border-box;
        object-fit: cover;
        aspect-ratio: 1 / 1;
    }
}

.photo-text__img {
    width: 100%;
    max-width: 570px;
    height: auto;
    margin-top: 25px;
}

.nav-link {
    color: rgb(140, 158, 138);
    text-decoration: underline;
    text-decoration-skip-ink: none;
    font-size: 19px;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    padding: 0;
}

.passion-menu__links {
    display: flex;
    flex-direction: row;
    overflow-wrap: break-word;
    text-align: left;
    justify-content: flex-start;
}

.passion-menu__links .nav-link {
    margin-right: 5px;
}

.nav-link:hover {
    color: var(--link-color);
}

.passion-menu__undertitle {
    color: rgb(141, 141, 141);
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 100%;
    height: auto;
}

.navigation-link {
    color: rgb(140, 158, 138);
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    text-decoration: underline;
    font-weight: 700;
}

.navigation-arrow:hover {
    text-decoration: underline;
}

.navigation-links {
    flex-direction: row;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.menu-right__side,
.menu-left__side {
    width: 50%;
}

.nav-link:hover {
    color: rgb(140, 158, 138);
}

.menu-right__side {
    padding-right: 15px;
}

.menu-left__side {
    padding-left: 15px;
}

.passion-menu__link {
    margin-top: 20px;
}

.passion-menu__links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.passion-menu__link:hover {
    color: rgb(140, 158, 138);
}

@media (max-width: 767px) {
    .navigation-links {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        width: 100%;
        height: auto;
        align-items: center;
    }

    .menu-right__side {
        padding-left: 15px;
    }
}

.benefits__number {
    color: rgb(47, 49, 51);
    font-family: "Open Sans", sans-serif;
    font-size: 11px;
    letter-spacing: 2.2px;
    line-height: 18.37px;
    box-sizing: border-box;
    text-align: center;
    font-weight: 700;
    padding-top: 115px;
}

.benefits__logo {
    font-size: 32px;
    text-align: center;
    font-family: "Archivo", sans-serif;
    margin-top: 20px;
}

.benefits__title {
    margin-top: 25px;
    color: rgb(112, 112, 112);
    font-size: 18px;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 50px;
}

.benefit-card__img {
    width: 50px;
    height: 50px;
}

.section-benefits {
    background-image: url("../img/background/benefits-background.svg");
}

.information__cards {
    max-width: 1170px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: auto;
    padding-bottom: 120px;
}

.information__card,
.information-bottom__card {
    width: 100%;
    max-width: 270px;
    height: 245px;
    display: grid;
    place-items: center;
    padding: 30px;
    background-color: white;
}

.benefit-card__img {
    width: 50px;
    height: 50px;
}


@media (max-width: 767px) {
    .information__cards {
        grid-template-columns: 1fr;
    }
}

.line {
    text-align: center;
    color: rgb(141, 141, 141);
    font-size: 16px;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
}

.information-logo {
    text-align: center;
    color: rgb(47, 49, 51);
    font-size: 24px;
    font-weight: 700;
    font-family: 'Archivo', sans-serif;
}