.passion-menu__number {
    color: rgb(112, 112, 112);
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
}
.passion-menu__title {
border-bottom-color: rgb(47, 49, 51);
font-size: 41px;
font-family: 'Archivo', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
}
